if SHIELD_NICETRY_LEFT
  
config ZMK_KEYBOARD_NAME
    default "tboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_NICETRY_LEFT || SHIELD_NICETRY_RIGHT

config ZMK_SPLIT
    default y

endif
