if SHIELD_TBOARD_CENTRAL
config ZMK_KEYBOARD_NAME
    default "tBoard"   # ≤15 chars

config ZMK_SPLIT
    default y
config ZMK_SPLIT_ROLE_CENTRAL
    default y

# two peripherals: left and right
# config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
#    int
#    default 2

endif
