config SHIELD_TBOARD_CENTRAL
    def_bool $(shields_list_contains,tboard_central)

config SHIELD_TBOARD_LEFT
    def_bool $(shields_list_contains,tboard_left)

config SHIELD_TBOARD_RIGHT
    def_bool $(shields_list_contains,tboard_right)
