if SHIELD_NICETRY_LEFT
  
config ZMK_KEYBOARD_NAME
    default "tboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

CONFIG_ZMK_KSCAN_DEBOUNCE_PRESS_MS=5
CONFIG_ZMK_KSCAN_DEBOUNCE_RELEASE_MS=8

CONFIG_ZMK_POINTING=y
CONFIG_ZMK_BLE_EXPERIMENTAL_CONN

endif

if SHIELD_NICETRY_LEFT || SHIELD_NICETRY_RIGHT

config ZMK_SPLIT
    default y

endif
