#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT   0
#define NUMPAD    1
#define NUMBERROW 2
#define MEDIA     3
#define FKEYS     4

/ {
    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
                &kp ESC     &kp Q       &kp W       &kp E       &kp R       &kp T            &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT
                &kp TAB     &kp A       &kp S       &kp D       &kp F       &kp G            &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp APOS
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B            &kp N       &kp M       &kp COMMA   &kp DOT     &kp UP      &kp SLASH
                &trans      &kp LCTRL   &kp LALT    &kp LCMD    &lt 1 SPACE &lt SPACE        &kp 2 SPACE &kp 2 SPACE &mo 3       &kp LEFT    &kp DOWN    &kp RIGHT
            >;
        };
    };
};
