#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
                &kp ESC     &kp Q       &kp W       &kp E       &kp R       &kp T            &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT
                &kp TAB     &kp A       &kp S       &kp D       &kp F       &kp G            &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp APOS
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B            &kp N       &kp M       &kp COMMA   &kp DOT     &kp UP      &kp SLASH
                &none       &kp LCTRL   &kp LALT    &kp LCMD    &lt 1 SPACE &lt 1 SPACE      &kp 2 SPACE &kp 2 SPACE &mo 3       &kp LEFT    &kp DOWN    &kp RIGHT
            >;
        };
    };
};
